<div id='{$_name}'>
	<table border="2" width="100%">
		<tr>
			<td widtg="15%">
				<b>Account Number : </b>		
			</td>
			<td widtg="35%">
				<p>{$AccountNumber} ({$ModeOfOperation})</p>
			</td>
			<td widtg="15%">
				<b>Account Opening Date : </b>
			</td>
			<td widtg="35%">
				<p>{$created_at}</p>
			</td>
		</tr>
		<tr>
			<td>
				<b>Member Name : </b>
			</td>
			<td>
				<p>{$memberName}</p>
			</td>
			<td>
				<b>Father name : </b>
			</td>
			<td>
				<p>{$FatherName}</p>
			</td>
		</tr>
		<tr>
			<td>
				<b>Member ID:</b> 
			</td>
			<td>
				<p>{$member_no}</p>
			</td>
			<td>
				<b>Member SM Account:</b> 
			</td>
			<td>
				<p>{$member_sm_account}</p>
			</td>
		</tr>
		<tr>
			<td>
				<b>Member PanNo:</b> 
			</td>
			<td>
				<p>{$PanNo}</p>
			</td>
			<td>
				<b>Member Adhaar No:</b> 
			</td>
			<td>
				<p>{$AdharNumber}</p>
			</td>
		</tr>

		<tr>
			<td>
				<b>Address : </b>			
			</td>
			<td colspan="3">
				<p>{$PermanentAddress}</p>
			</td>
		</tr>
		<tr>
			<td>
				<b>Phone Number : </b>			
			</td>
			<td colspan="3">
				<p>{$PhoneNos}</p>
			</td>
		</tr>
			<tr>
			<td>
				<b>{$amount_caption} : </b> 	 
			</td>
			<td>
				<p>{$Amount}</p>
			</td>
			<td>
				<b>EMI Details : </b>
			</td>
			<td>
				<p>{$emidetails}</p>
			</td>
		</tr>
		<tr>
			<td>
				<b>Payment Mode : </b> 	 
			</td>
			<td>
				<p>{$repayment_mode}</p>
			</td>
			<td>
				<b>Agent :</b>{$agent}
			</td>
			<td>
				<b>Dealer :</b> {$dealer}
			</td>
		</tr>
		<tr>
			<td>
				<b>Maturity Date : </b>			
			</td>
			<td colspan="3">
				<p>{$maturity_date}</p>
			</td>
		</tr>

		<tr>
			<td>
				<b>Guarentor : </b>			
			</td>
			<td colspan="3">
				<p>{$guaranters}</p>
			</td>
		</tr>
		<tr>
			<td>
				<b>Schemes : </b>			
			</td>
			<td colspan="3">
				<p>{$schemes}</p>
			</td>
		</tr>
		
		<tr>
			<td>
				<b> Documents : </b>
			</td>
			<td colspan="3">
				<p>	{$documents} </p>
			</td>
		</tr>
		<tr>
			<td>
				<b>Insurance</b>
			</td>
			<td>
				<b>Date:</b> {$mem_insurance_start_date}
			</td>
			<td>
				<b>Next Date:</b> {$mem_next_insurance_due_date}
			</td>
			<td>
				<b>Narration:</b> {$insurance_narration}
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<b>EMI/Premium Details</b><br>
				{$premiumdetail}			
			</td>
		</tr>
	</table>

</div>