<div id="{$_name}" >

<table width="900px" align="center">
	<tr style="height:200px;">
		<td width="150px" valign="top">
			<img src="templates/images/logo.jpg" width="100px" height="100px"><br>
			<b>REG.NO.2507Y</b>
		</td>
		<td valign="top" align="center">
			<h3>BHAWANI CREDIT CO. OPERATIVE SOCIETY LTD.<br>
			REGD. OFFICE :- UDAIPUR ROAD JAHDOL (PH.) <br/>DISTT.  UDAIPUR (RAJ.) 
			<br><br>BRANCH - <span style="text-transform:uppercase">{$branch}</span></h3>
		</td>
	</tr>
	<tr height="100px" valign="top">
		<td>
			<b>REF : _____________ </b>
			<div style="border: 2px solid black; margin-top: 5px; padding: 2px">
			<p>
			Account Number: <font size='5'>{$AccountNumber}</font>
			</p>
			</div>
		</td>
		<td align="right">
			<b>DATE : {$date}</b> 	
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p class='hindi'>
				Jheku@Jherh@lqJh <span>{$member_name}</span> iq++=@iq++=h@iRuh Jh <span>{$father_name}</span> fuoklh <span>{$address}</span> vki }kjk Hkokuh ØsfMV dkW<span>-</span>vksijsfVo lkslkbVh fy- >kMksy¼Q½ ls _.k <span>{$loan_amount}</span> ds fy, vkosnu fd;k x;k FkkA vki dks lwfpr fd;k tkrk gSa fd Hkokuh ØsfMV dkW<span>-</span>vksijsfVo lkslkbVh fy- >kMksy¼Q½ }kjk  vkidk _.k vkosnu i= Lohdkj dj fy;k x;k gSA bl esa vkidks _.k jkf'k ds :Ik esa <span>{$loan_amount}</span> dk _.k Lohd`r fd;k x;k gsSA tks vkidks <span>{$interest_rate}</span> izfr'kr okf"kZd pØo`f) C;kt dh nj ls :i;k <span>{$premium_amount}</span> eghus dh fdLr ds :Ik esa <span>{$number_of_premium}</span> fdLrksa es vkidks :i;k tek djuk gksxkA vkidks gj ekg dh <span>{$date_of_submission}</span> rkjh[k rd fd'r tek djokuh gksxhA
			</p>

			<p class='hindi'>uksV<span>-</span> _.k lEc/kh leLr tkudkjh gsrq lEidZ djsa A</p>
			<b>Ph. 0294-2431460</b>
		</td>
	</tr>
	<tr>
	
		<td  colspan="2">
			<h4  class='hindi' style="text-align:right"><br><br>
			<p style="">vf/kd`r gLrk{kj&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
	        Hkokuh ØsfMV dkW<span>-</span>vksijsfVo lkslkbVh fy- &gt;kMksy¼Q½
	        <br>
			7
			<span>,</span>
			 ve`r Jh Iyktk] nqfËk;k x.ks'k th] 
			 <br>
			 lTtux< jksM mn;iqj ¼ jkt
			 <span>.</span>½
			 <br>
			</h4>
			<p style='text-align:center'>This is computer generated letter, hence no signature required.</p>
		</td>
	</tr>
</table>

</div>
