<div id="{$_name}" style=" {$style}" class=" {$class}">
  <div class="atk-table atk-table-zebra atk-table-bordered atk4_grid">
    {$Content}
    <table>
            
            <tr>
              
              <td class="atk-form-row atk-form-field">{$emp_name}</td>
              <td class="atk-form-row atk-form-field">{$basic_salary}</td>
              <td class="atk-form-row atk-form-field">{$total_days}</td>
              <td class="atk-form-row atk-form-field">{$paid_days}</td>
              <td class="atk-form-row atk-form-field">{$leave}</td>
              <td class="atk-form-row atk-form-field">{$salary}</td>
              <td class="atk-form-row atk-form-field">{$PF_salary}</td>
              <td class="atk-form-row atk-form-field">{$DED}</td>
              <td class="atk-form-row atk-form-field">{$PF_amount}</td>
              <td class="atk-form-row atk-form-field">{$other_allowance}</td>
              <td class="atk-form-row atk-form-field">{$allow_paid}</td>
              <td class="atk-form-row atk-form-field">{$net_payable}</td>
              <td class="atk-form-row atk-form-field">{$narration}</td>
            </tr>
       <tr>
         {$form_buttons}
         {$form_action}
         {$form_line}
       </tr> 
    </table>
  </div>  
</div>