<div id="{$_name}" class="{$class}">
	<table border="1" width="100%">
		<tr>
			<td>Account Number</td>
			<td>{$AccountNumber} --- {$id}</td>
		</tr>
		<tr>
			<td>Member</td>
			<td>{$member}</td>
		</tr>
		<tr>
			<td>Dealer</td>
			<td>{$dealer}</td>
		</tr>
		<tr>
			<td>First Premium</td>
			<td>{$first_premium_date}</td>
		</tr>
		<tr>
			<td>Last Premimum</td>
			<td>{$last_premium_date}</td>
		</tr>
		<tr>
			<td>Int. @</td>
			<td>{$interest_rate}</td>
		</tr>
	</table>
	<table border=1 width="100%">
		<tr>
			<th>Perticular</th>
			<th>DR Amount</th>
			<th>CR Amount</th>
			<th>DUE Amount</th>
		</tr>
		<tr>
			<td>Loan Amount</td>
			<td>{$Amount} </td>
			<td>{$total_deposite}</td>
			<td></td>
		</tr>
		<tr>
			<td>Monthly Interest</td>
			<td>
				{$monthly_interest}
			</td>
			<td>0</td>
			<td></td>
		</tr>
		<tr>
			<td>Pre Clouser Interest</td>
			<td>{$pre_clouser_interest}</td>
			<td>0</td>
			<td></td>
		</tr>

		<tr>
			<td>Penalty</td>
			<td>{$total_penalty}</td>
			<td>{$penalty_received} </td>
			<td></td>
		</tr>
		<tr>
			<td>NACH Registration File Cancelling charge</td>
			<td>{$nach_transaction_file_canceling_charge_received}</td>
			<td> </td>
			<td></td>
		</tr>

		<tr>
			<td>Society Notice Charge</td>
			<td>{$total_society_notice_sent}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Visit Charge</td>
			<td>{$total_visit_charge}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Legal Notice charge</td>
			<td>{$total_legal_notice_sent}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Vehical Godown Rent Charge</td>
			<td>{$total_godowncharge_debited}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Cheque Return Notice Charge</td>
			<td>{$total_notice_sent_after_cheque_returned} </td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Legal Expanses Charge</td>
			<td>{$total_legal_expenses}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>NOC Handling Charge</td>
			<td>{$total_noc_handling_charge_received}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Other Charge</td>
			<td>{$total_other_charge}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Time Over Charge</td>
			<td>{$total_time_over_charge}</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td>{$total_dr} </td>
			<td>{$total_cr} </td>
			<td>{$total_due} </td>
		</tr>
	</table>
</div>