<style>

#main{	
		width:1090px;
		max-height:auto;
		height:auto; 
		position: relative;
		/*text-transform: capitalize;*/
	}
	#main > img{
		width:1090px;
		position: absolute;
		top:0;
		left:0;
	}
	.branch{
		width:350px;
		position:absolute;
		top:118px;
		left:728px;
		text-transform: capitalize;
		/*font-size:18px;*/
	}
	.branch_1{
		width:350px;
		position:absolute;
		top:98px;
		left:143px;
		text-transform: capitalize;
		/*font-size:18px;*/
	}
	.date{
		width:350px;
		position:absolute;
		top:164px;
		left:248px;
		text-transform: capitalize;
		font-size:12px;
	}
	.name{
		width:350px;
		position:absolute;
		top:200px;
		left:765px;
		text-transform: capitalize;
		/*font-size:18px;*/
	}
	.name_1{
		width:350px;
		position:absolute;
		top:218px;
		left:98px;
		text-transform: capitalize;
		/*font-size:18px;*/
	}	
	.f_name{
		position:absolute;
		top:232px;
		left:742px;
		width: 400px;
		text-transform: capitalize;
		/*font-size:18px;*/
	}
	.f_name_1{
		position:absolute;
		top:237px;
		left:122px;
		width: 400px;
		text-transform: capitalize;
		/*font-size:18px;*/
	}
	.address{
		position:absolute;
		top:265px;
		left:632px;
		width: 500px;
		text-transform: capitalize;
		font-size:13px;
	}
	.address_1{
		position:absolute;
		top:261px;
		left:75px;
		width: 300px;
		text-transform: capitalize;
		font-size:13px;
	}
	.d_amount_word1{
		position:absolute;
		text-transform: capitalize;
		top:363px;
		left:770px;
		width: 280px;
		/*font-size:18px;*/
	}
	.d_amount_word2{
		position:absolute;
		text-transform: capitalize;
		top:363px;
		left:88px;
		width: 280px;
		/*font-size:18px;*/
	}
	.nominee_name{
		text-transform: capitalize;
		position:absolute;
		width: 200px;
		top:395px;
		left:695px;
		/*font-size:18px;*/
	}
	.nominee_relation{
		text-transform: capitalize;
		position:absolute;
		width: 80px;
		top:395px;
		left:899px;
		/*font-size:18px;*/
	}
	.nominee_age{
		position:absolute;
		width: 80px;
		top:395px;
		left:1025px;
		/*font-size:18px;*/
	}
	.nominee_dob{
		position:absolute;
		top:428px;
		left:818px;
		width: 250px;
		/*font-size:18px;*/
		letter-spacing: 9px;
	}
	.special_candidate{
		position:absolute;
		top:486px;
		left:449px;
		/*font-size:18px;*/
	}
	.account_no{
		position:absolute;
		top:155px;
		left:430px;
		font-size:10px;
		width: 150px;
	}
	.account_no_1{
		position:absolute;
		top:201px;
		left:73px;
		font-size:10px;
		width: 280px;
	}
	.date_of_issue{
		position:absolute;
		top:198px;
		left:430px;
		font-size:12px;
		width: 70px;
	}
	.date_of_issue_1{
		position:absolute;
		top:291px;
		left:115px;
		font-size:12px;
		width: 70px;
	}
	.as_on_date{
		position:absolute;
		top:245px;
		left:430px;
		font-size:12px;
		width: 70px;
	}
	.as_on_date_1{
		position:absolute;
		top:312px;
		left:103px;
		font-size:12px;
		width: 70px;
	}
	.period{
		position:absolute;
		top:287px;
		left:430px;
		font-size:12px;
		width: 70px;
	}
	.period_1{
		position:absolute;
		top:332px;
		left:75px;
		font-size:12px;
		width: 70px;
	}
	.due_date{
		position:absolute;
		top:332px;
		left:430px;
		font-size:12px;
		width: 70px;
	}
	.due_date1{
		position:absolute;
		top:396px;
		left:90px;
		font-size:12px;
		width: 70px;
	}
	.interest{
		position:absolute;
		top:379px;
		left:430px;
		font-size:12px;
		width: 70px;
	}
	.interest1{
		position:absolute;
		top:416px;
		left:120px;
		font-size:12px;
		width: 70px;
	}
	.d_amount1{
		position:absolute;
		top:425px;
		left:430px;
		font-size:12px;
		width: 70px;
	}
	.d_amount2{
		position:absolute;
		top:353px;
		left:124px;
		font-size:12px;
		width: 70px;
	}
	.maturity_amount{
		position:absolute;
		top:470px;
		left:430px;
		font-size:12px;
		width: 70px;
	}
	.maturity_amount1{
		position:absolute;
		top:439px;
		left:127px;
		font-size:12px;
		width: 70px;
	}
	.maturity_amount_word{
		position:absolute;
		top:458px;
		left:84px;
		font-size:12px;
		width: 20%;
	}
	.moblie_no{
		position:absolute;
		top:500px;
		left:150px;
		font-size:12px;
		width: 20%;
	}

</style>
	<div class="container">
		{$Content}
		<div id="main">
			<img src="templates/images/fd bond.jpg" />
			<div class="branch">{$branch}</div>
			<div class="branch_1">{$branch_1}</div>
			<div class="date">{$date}</div>
			<div class="name">{$name}</div>
			<div class="name_1">{$name_1}</div>
			<div class="f_name">{$f_name}</div>
			<div class="f_name_1">{$f_name_1}</div>
			<div class="address">{$address}</div>
			<div class="address_1">{$address_1}</div>
			<div class="d_amount_word1">{$deposite_amount_word_1}</div>
			<div class="d_amount_word2">{$deposite_amount_word_2}</div>
			<div class="nominee_name">{$nominee_name}</div>
			<div class="nominee_relation">{$relation_with_nominee}</div>
			<div class="nominee_age">{$nominee_age}</div>
			<div class="nominee_dob">{$nominee_dob}</div>
			<div class="special_candidate">{$special_candidate}</div>
				
       	</div>
		<div class="account_no">{$account_no}</div>
		<div class="account_no_1">{$account_no_1}</div>
		<div class="date_of_issue">{$date_of_issue}</div>
		<div class="date_of_issue_1">{$date_of_issue_1}</div>
		<div class="as_on_date">{$as_on_date}</div>
		<div class="as_on_date_1">{$as_on_date_1}</div>
		<div class="period">{$period}</div>
		<div class="period_1">{$period_1}</div>
		<div class="due_date">{$due_date}</div>
		<div class="due_date1">{$due_date_1}</div>
		<div class="interest">{$interest}</div>
		<div class="interest1">{$interest_1}</div>
		<div class="d_amount1">{$deposite_amount_1}</div>
		<div class="d_amount2">{$deposite_amount_2}</div>
		<div class="maturity_amount">{$maturity_amount}</div>
		<div class="maturity_amount1">{$maturity_amount_1}</div>
		<div class="maturity_amount_word">{$maturity_amount_word}</div>
		<div class="moblie_no">{$moblie_no}</div>
    </div>  