<style>

#main{	
		width:800px;
		max-height:auto;
		height:auto; 
		position: absolute;
		/*text-transform: capitalize;*/
	}
	#main > img{
		width:800px;
		position: fixed;
		top:0;
		left:0;
	}
	.name{
		width:350px;
		position:relative;
		top:177px;
		left:358px;
		text-transform: capitalize;
		/*font-size:18px;*/
	}
	.f_name{
		position:relative;
		top:183px;
		left:343px;
		width: 400px;
		text-transform: capitalize;
		/*font-size:18px;*/
	}
	.address{
		position:relative;
		top:186px;
		left:204px;
		width: 500px;
		text-transform: capitalize;
		/*font-size:18px;*/
	}
	.d_amount{
		position:relative;
		top:243px;
		left:358px;
		width: 280px;
		/*font-size:18px;*/
	}
	.nominee_name{
		text-transform: capitalize;
		position:relative;
		width: 200px;
		top:244px;
		left:278px;
		/*font-size:18px;*/
	}
	.nominee_relation{
		text-transform: capitalize;
		position:relative;
		width: 80px;
		top:226px;
		left:540px;
		/*font-size:18px;*/
	}
	.nominee_age{
		position:relative;
		width: 80px;
		top:207px;
		left:654px;
		/*font-size:18px;*/
	}
	.nominee_dob{
		position:relative;
		top:218px;
		left:390px;
		width: 250px;
		/*font-size:18px;*/
		letter-spacing: 10px;
	}
	.special_candidate{
		position:relative;
		top:486px;
		left:449px;
		/*font-size:18px;*/
	}
	.account_no{
		position:relative;
		top:486px;
		left:57px;
		font-size:9px;
		width: 70px;
	}
	.date_of_issue{
		position:relative;
		top:465px;
		left:154px;
		font-size:9px;
		width: 70px;
	}
	.as_on_date{
		position:relative;
		top:453px;
		left:252px;
		font-size:9px;
		width: 70px;
	}
	.period{
		position:relative;
		top:440px;
		left:365px;
		font-size:9px;
		width: 70px;
	}
	.due_date{
		position:relative;
		top:430px;
		left:436px;
		font-size:9px;
		width: 70px;
	}
	.interest{
		position:relative;
		top:416px;
		left:551px;
		font-size:9px;
		width: 70px;
	}
	.d_amount_2{
		position:relative;
		top:405px;
		left:649px;
		font-size:9px;
		width: 70px;
	}
	.maturity_amount{
		position:relative;
		top:390px;
		left:744px;
		font-size:9px;
		width: 70px;
	}

</style>
	<div class="container">
		{$Content}
		<div>
		<div id="main">
			<img src="templates/images/fd_receipt_new.jpg" />
			<div class="name">{$name}</div>
			<div class="f_name">{$f_name}</div>
			<div class="address">{$address}</div>
			<div class="d_amount">{$deposite_amount}</div>
			<div class="nominee_name">{$nominee_name}</div>
			<div class="nominee_relation">{$relation_with_nominee}</div>
			<div class="nominee_age">{$nominee_age}</div>
			<div class="nominee_dob">{$nominee_dob}</div>
			<div class="special_candidate">{$special_candidate}</div>
				
       	</div>
       	</div>
			<div class="account_no">{$account_no}</div>
			<div class="date_of_issue">{$date_of_issue}</div>
			<div class="as_on_date">{$as_on_date}</div>
			<div class="period">{$period}</div>
			<div class="due_date">{$due_date}</div>
			<div class="interest">{$interest}</div>
			<div class="d_amount_2">{$deposite_amount}</div>
			<div class="maturity_amount">{$maturity_amount}</div>
    </div>  