div(id="{$_name}")
	table(width="900px" align="center" style="margin-top:150px; font-size:18px")
		tr
			td(style="width:15px")
				img(src="templates/images/logo.jpg" style="width: 130px")
			td(style="vertical-align:top; font-size:18px;")
				h1(style="font-size:30px")|BHAWANI CREDIT CO. OPERATIVE SOCIETY LTD
				span|Central office: 7, Amrit shree plaza, Dudhiya ganesh ji,
				br
				span|Sajjangarh road, udaipur, Rajasthan
				br
				span|Reg. Office: Udaipur road, Jhadol(Phalasiya) Dist: Udaipur
		tr
			td(colspan="2")
				p(style="text-align:right")
					span|Ph.no: 02942431461, 2431460<br/>
					span|E-Mail:Info@bhawanicredit.com	 
		tr
			td(colspan="2")
				table(width="900px" style="margin-top:30px")
					tr
						td(colspan="2")
							p|Sr. No: BCCS Ltd / 2015-16 /
						td(style="text-align:right")
							p|DATE  {date}12-02-2016{/}
		tr(style="height:80px")
			td(colspan="2" align="center")					
				strong(style="border-bottom:3px solid black;")|lwpuk&i=
		tr(style="height:80px")
			td(colspan="2")
				p|Account No. <b>{$account_no}</b>
		tr(style="height:330px")
			td(colspan="2")
				|Jheku <b>{$member_name}</b> iq++= Jh <b>{$father_name}</b>] fuoklh& <b>{$address}</b>  vki }kjk  Hkokuh ØsfMV dks- vksijsfVo lkslkbVh fy- >kMksy¼Q½ ls _.k<br/>
				|<b>{$total_amount}</b> ds fy, vkosnu fd;k x;k FkkA Hkokuh ØsfMV dks- vksijsfVo lkslkbVh fy- >kMksy¼Q½ }kjk<br/>
				|vkidk _.k vkosnu i= Lohdkj dj ds bl _.k eSa vkidks _.k jkf’k ds :Ik esa <b>{$total_amount}</b> dk _.k<br/>
				|Lohd`r fd;k x;k FkkA vkidks C;kt lfgr <b>{$total_installment}</b> fd'rksa es :i;k tek djuk FkkA vki }kjk fdLr dk<br/>
				|Hkqxrku le; ij ugh fd;k x;k gSaA blfy, vkidks i= }kjk lwfpr fd;k tkrk gSa fd vki ij<br/>
				|lkslkbVh dh cdk;k jkf'k e; C;kt tek djkosaaA<br/>
				|¼1½ fdLr dh la[;k<br/>
				|¼2½ isuYVh<br/>
				|¼3½ vU; [kpZ<br/>
				|¼4½ dqy ;ksx<br/>
		tr(style="height:150px")
			td(colspan="2")
				|vki 7 fnu eas  Hkokuh ØsfMV dks- vksijsfVo lkslkbVh fy- ds 'kk[kk  esa tek djkdj 8003597805<br/>
				|uEcj ij lqfpr djs  vU;Fkk vkids fo:+} mfpr dk;Zokgh dh tk;sxhA<br/>
				b(style="border-bottom:3px solid black")|vf/kd tkudkjh ds fy;s 8003597805 uEcj ij lEidZ djs
		tr
			td(colspan="2" align="right")
				|Hkokuh ØsfMV dks- vksijsfVo lkslkbVh fy- >kMksy¼Q½<br/>
				|7] ve`r Jh Iyktk]<br/>
				|nqfËk;k x.ks'k th efUnj dsa ikl lTtux< 	jksM mn;iqj<br/>
				|¼jkt.½<br/>
				|Ph.02942431461 Mob. 8003597805<br/>
