
<div id="{$_name}">
  <style>
    .hindi{
    	font-size:22px;
    }
  </style>
  <table width="900px" align="center" style="margin-top:150px; font-size:18px" class="information-div">
    <tr>
      <td style="width:15px"><img src="templates/images/logo.jpg" style="width: 130px" class="xbank-logo"/></td>
      <td style="vertical-align:top; font-size:18px;">
        <h1 style="font-size:25px">BHAWANI CREDIT CO. OPERATIVE SOCIETY LTD</h1><span>Central office: 7, Amrit shree plaza, Dudhiya ganesh ji,</span><br/><span>Sajjangarh road, udaipur, Rajasthan</span><br/><span>Reg. Office: Udaipur road, Jhadol(Phalasiya) Dist: Udaipur</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p style="text-align:right"><span>Ph.no: 02942431461, 2431460<br/></span><span>E-Mail:Info@bhawanicredit.com	 </span></p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="900px" style="margin-top:30px">
          <tr>
            <td colspan="2">
              <p>Sr. No: BCCS Ltd / 20 </p>
            </td>
            <td style="text-align:right">
              <p>DATE  {date}12-02-2016{/}</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height:80px">
      <td colspan="2" style="text-align:center!important" class="hindi">					<strong style="border-bottom:3px solid black;">lwpuk&i=</strong></td>
    </tr>
    <tr style="height:80px">
      <td colspan="2">
        <p>Account No. <b>{$account_no}</b></p>
      </td>
    </tr>
    <tr style="height:330px">
      <td colspan="2" class="hindi">
        Jheku@Jherh@lqJh <b class="english">{$member_name}</b> iq++=@iq++=h@iRuh Jh  <b class="english">{$father_name}</b>] fuoklh& <b class="english">{$address}</b>  vki }kjk  Hkokuh ØsfMV dks- vksijsfVo lkslkbVh fy- >kMksy¼Q½ ls _.k 
        <b>{$total_amount}</b> ds fy, vkosnu fd;k x;k FkkA Hkokuh ØsfMV dks- vksijsfVo lkslkbVh fy- >kMksy¼Q½ }kjk 
        vkidk _.k vkosnu i= Lohdkj dj ds bl _.k eSa vkidks _.k jkf”k ds :Ik esa <b>{$total_amount}</b> dk _.k 
        Lohd`r fd;k x;k FkkA vkidks C;kt lfgr <b>{$total_installment}</b> fd'rksa es :i;k tek djuk FkkA vki }kjk fdLr dk 
        Hkqxrku le; ij ugh fd;k x;k gSaA blfy, vkidks i= }kjk lwfpr fd;k tkrk gSa fd vki ij 
        lkslkbVh dh cdk;k jkf'k e; C;kt tek djkosaaA<br/>
        ¼1½ cdk;k fdLr dh la[;k<br/>
        ¼2½ isuYVh<br/>
        ¼3½ vU; [kpZ<br/>
        ¼4½ dqy ;ksx<br/>
      </td>
    </tr>
    <tr style="height:100px">
      <td colspan="2" class="hindi">
        vki 7 fnu eas  Hkokuh ØsfMV dks- vksijsfVo lkslkbVh fy- ds 'kk[kk  esa ;k fuEukafdr cSad [kkrksa esa ls<br/>
        fdlh ,d esa tek djkdj 8003597805 uEcj ij lqfpr djs  vU;Fkk vkids fo:+} mfpr dk;Zokgh<br/>
        dh tk;sxhA<br/>
      </td>
    </tr>
    <tr style="height:100px; ">
      <td colspan="2" style="font-size:16x" class="english">S.B.B.J OD -  61320604426<br/>S.B.I. OD- 35882958141<br/>I.D.B.I OD- 1166651000000408<br/>KOTAK OD- 0511571112<br/>R.M.G.B. OD- 83033899477<br/>B.O.B. A/C- 39830200000207<br/>ALLAHABAD BANK C/A 50333054525	</td>
    </tr>
    <tr style="height:100px">
      <td colspan="2" style="text-align: right!important"><span style="text-align:left!important" class="hindi">Hkokuh ØsfMV dks- vksijsfVo lkslkbVh fy- >kMksy¼Q½<br/></span><span style="text-align:left!important" class="hindi">7] ve`r Jh Iyktk nqfËk;k x.ks'k th efUnj dsa ikl] <br/></span><span class="hindi">lTtux< 	jksM mn;iqj ¼jkt-½<br/></span>Ph.02942431461 Mob. 8003597805<br/>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="font-size:14px" class="hindi">
        <cite><b>uksV%& ;fn vkids }kjk cdk;k jkf”k tek djok nh xbZ gSa rks bl uksfVl dks Lor% fujLr le>sA</b></cite>
      </td>
    </tr>
  </table>
</div>