div(id="{$_name}")
	table(width="900px" align="center" style="margin-top:220px;")
		tr
			td
				p|To,<br>The Registering Authority,<br>Regional Transport  office
				p|Sub:  <b>“NO OBJECTION  CERTIFICATE’’  for  removal of our HPN.from</b>
				b|Vehicle &nbsp;no. - {$vehicle_no}
				br
				b|Chassis no. - {$chassis_no}
				br
				b|Engine &nbsp;no. - {$engine_no}
		tr
			td
				|Dear Sir,
				br
				|{$member_name} <b>S/O</b> {$father_name} has availed loan for above vehicle under Agreement <b>No.</b> {$account_number} and HYP Noting in our favour has been duly noted by your office.
				br
				|As the above party has fulfilled all has obligations and paid all his outstanding dues under the said agreement we have issued from 35 for removing of our HYP Noting
				br
				|Please consider this letter as <b> “NO DUES CERTIFICATE“</b> so as to enable you to undertake  any transfer instruction from the said party.
				br
				br
				P|Thanking You,
				br
				br
				br
				P|Your faithfully,
				|For: Bhawani Credit co-operative society Ltd.