<html >
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
	<title xml:lang="en-US">Employee Salary Receipt</title>
	<style type="text/css">
	@page {  }
	table { border-collapse:collapse; border-spacing:0; empty-cells:show;width: 600px; margin: auto; }
	td, th { vertical-align:top; font-size:10pt;}
	h1, h2, h3, h4, h5, h6 { clear:both }
	ol, ul { margin:0; padding:0;}
	li { list-style: none; margin:0; padding:0;}
	
	li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
	span.footnodeNumber { padding-right:1em; }
	span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
	* { margin:0;}
	.gr1 { font-size:12pt; writing-mode:page; padding-top:0.125cm; padding-bottom:0.125cm; padding-left:0.25cm; padding-right:0.25cm; }
	.P1 { text-align:left ! important; font-size:18pt; }
	.ta1 { writing-mode:lr-tb; }
	.Default { font-family:Liberation Sans; }
	.ce1 { font-family:Book Antiqua; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce10 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce11 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; margin-left:0cm; writing-mode:page; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce12 { font-family:Book Antiqua; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:20pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce13 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce14 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; margin-left:0cm; writing-mode:page; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce15 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:middle; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:20pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce16 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce17 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce18 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce19 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; margin-left:0cm; writing-mode:page; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce2 { font-family:Book Antiqua; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:top; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:12pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce20 { font-family:Book Antiqua; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:12pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce21 { font-family:Book Antiqua; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:middle; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:12pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce22 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; margin-left:0cm; writing-mode:page; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce23 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce24 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:middle; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce25 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce26 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce27 { font-family:Book Antiqua; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:middle; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:12pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce28 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce29 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce3 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce30 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce31 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce32 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; margin-left:0cm; writing-mode:page; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce33 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; margin-left:0cm; writing-mode:page; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce34 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce35 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce36 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce37 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce38 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce39 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce4 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce40 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce41 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce42 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce43 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce44 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce45 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce46 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce47 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce48 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; font-size:7pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce5 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; margin-left:0cm; writing-mode:page; font-size:9pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	.ce6 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce7 { font-family:Book Antiqua; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:12pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce8 { font-family:Book Antiqua; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:middle; text-align:center ! important; margin-left:0cm; writing-mode:page; font-size:12pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
	.ce9 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#000000; vertical-align:bottom; text-align:left ! important; margin-left:0cm; writing-mode:page; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
	{ }
	</style>

	<table border="0" cellspacing="0" cellpadding="0" class="ta1">
		<tr class="ro2">
			<td rowspan="3" style="text-align:left;width:1.506cm; " class="ce1">
				<img src="templates/images/logo.jpg" style="width:100px" />	 </td>
			<td colspan="9" style="text-align:left;width:1.016cm; " class="ce12">
				<p>Bhawani Credit Co- Operative Society Ltd.</p></td>
		</tr>
		<tr class="ro1">
			<td colspan="9" style="text-align:left;width:1.016cm; " class="ce13">
				<p>7, Amrit shree plaza dudhiya ganesh Ji ,Udaipur-313001</p></td>
		</tr>
		<tr class="ro1">
			<td colspan="9" style="text-align:left;width:1.016cm; " class="ce14">
				<p style="text-align:center" >Ph. No.: 0294-2431461,8003597814</p></td>
		</tr>
		<tr class="ro2">
			<td style="text-align:left;width:1.506cm; " class="ce2">
				<p>Reg. No. 2507 Y</p></td>
			<td colspan="9" style="text-align:left;width:1.016cm; " class="ce15">							<p>PAY SLIP</p></td>
		</tr>
		<tr class="ro1">
			<td style="text-align:left;width:1.506cm; " class="ce3">
				<p>Name of the Employee</p></td>
			<td colspan="2" style="text-align:left;width:1.016cm; vertical-align:middle " class="ce16">
				<p style="text-align:center;">{$emp_name}</p> </td>
			<td colspan="2" style="text-align:left;width:2.258cm; vertical-align:middle " class="ce23">
				<p>Location</p>
			</td>
			<td colspan="5" style="text-align:left;width:2.258cm; vertical-align:top " class="ce25">
				<p>{$location}</p> </td>
		</tr>
		<tr class="ro1">
			<td style="text-align:left;width:1.506cm; " class="ce3">
				<p>Employee Code</p>
			</td>
			<td colspan="2" style="text-align:center;width:1.016cm;vertical-align:middle; " class="">
				<p style="vertical-align:middle;">{$emp_code}</p> </td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce23">
				<p>Date of Birth</p></td>
				<td colspan="5" style="text-align:left;width:2.258cm; " class="ce25">
					<p>{$dob}</p> </td>
		</tr>
		<tr class="ro1">
			<td style="text-align:left;width:1.506cm; " class="ce3">
				<p>Month</p></td>
			<td colspan="2" style="width:1.016cm; " class="ce17">
				<p style="text-align:center">{$month}</p>	 </td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce23">
				<p>Date of Joining</p>
			</td>
			<td colspan="5" style="text-align:left;width:2.258cm; " class="ce30">
				<p>{$doj}</p> </td>
		</tr>
		<tr class="ro1">
			<td style="text-align:left;width:1.506cm; " class="ce3">
				<p>Desigantion</p></td>
			<td colspan="2" style="width:1.016cm; " class="ce18">
				<p style="text-align:center;">{$designation}</p> </td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce24">
				<p>Provident Fund No.</p></td>
			<td colspan="5" style="text-align:left;width:2.258cm; " class="ce31">
				<p>{$pro_fund_no}</p> </td>
		</tr>
		<tr class="ro1">
			<td style="text-align:left;width:1.506cm; " class="ce3">
				<p>Department</p></td>
			<td colspan="2" style="text-align:left;width:1.016cm; " class="ce16">
				<p>{$department}</p>  </td>
			<td colspan="7" rowspan="2" style="text-align:left;width:2.258cm; " class="ce25"> </td>
		</tr>
		<tr class="ro1">
			<td style="text-align:left;width:1.506cm; " class="ce3">
				<p>PAN Card No.</p></td>
			<td colspan="2" style="width:1.016cm; " class="ce16">
				<p style="text-align:center;">{$pan_no}</p>  </td>
		</tr>
		<tr class="ro1">
			<td colspan="3" style="text-align:left;width:1.506cm; " class="ce4">
					<p>Earnings</p></td>
				<td colspan="3" style="text-align:left;width:2.258cm; " class="ce4">
				<p>Deductions</p></td>
			<td colspan="4" style="text-align:left;width:2.258cm; " class="ce34">
			<p>Leaves status</p></td>
		</tr>
		<tr class="ro1">
			<td style="text-align:left;width:2.506cm; vertical-align:middle " class="ce4">
				<p>Particulars</p></td>
			<td style="text-align:left;width:1.016cm; " class="ce4">
				<p>Gross Amount</p></td>
			<td style="text-align:left;width:14.549cm; " class="ce4">
				<p>Payable Amount</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; vertical-align:middle " class="ce23">
				<p>Particulars</p></td>
			<td style="text-align:left;width:2.258cm; " class="ce23">
				<p>Amount Rs.</p></td>
			<td style="text-align:left;width:2.258cm; " class="ce23">
				<p>Type</p></td>
			<td style="text-align:left;width:2.258cm; " class="ce23">
				<p>Total</p></td>
			<td style="text-align:left;width:2.258cm; " class="ce23">
				<p>utilized</p></td>
			<td style="text-align:left;width:2.258cm; " class="ce23">
				<p>Balance</p></td>
		</tr>
		<tr class="ro1">
			<td style="text-align:center;width:1.506cm;vertical-align:middle " class="ce6">
				<p>Basic Salary</p></td>
			<td style="text-align:center; width:1.016cm; vertical-align:middle " class="ce19">
				<p>{$basic_salary}</p></td>
			<td style="text-align:center; width:14.549cm;vertical-align:middle " class="ce19">
				<p>{$pay_salary}</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce26">
				<p>Provident Fund</p></td>
			<td style="vertical-align:middle; width:2.258cm; " class="ce32">
				<p style="text-align:center">{$provided_fund} </p></td>
			<td style=" vertical-align:middle;text-align:center;width:2.258cm; " class="ce36">
				<p>CL</p></td>
			<td style=" vertical-align:middletext-align:center;width:2.258cm; " class="ce36">{$total_cl} </td>
			<td style=" vertical-align:middle;text-align:center;width:2.258cm; " class="ce44">{$month_cl} </td>
			<td style=" vertical-align:middle;text-align:center;width:2.258cm; " class="ce44">{$balance_cl} </td>
		</tr>
		<tr class="ro1">
			<td style="text-align:center;width:1.506cm;vertical-align:middle " class="ce6">
				<p>Other Allowance</p></td>
			<td style="text-align:center; width:1.016cm; vertical-align:middle " class="ce19">
				<p>{$other_allowance}</p></td>
			<td style="text-align:center; width:14.549cm;vertical-align:middle " class="ce19">
				<p>{$pay_other_allw}</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce26">
				<p>Other Deduction</p></td>
			<td style=" vertical-align:middle; text-align:center; width:2.258cm; " class="ce33">
				<p>{$other_deduction} </p></td>
			<td style=" vertical-align:middle;text-align:center;width:2.258cm; " class="ce36">
				<p>CCL</p></td>
			<td style=" vertical-align:middle;text-align:center;width:2.258cm; " class="ce44">0 </td>
			<td style=" vertical-align:middle;text-align:center;width:2.258cm; " class="ce44"> 0</td>
			<td style=" vertical-align:middle;text-align:center;width:2.258cm; " class="ce44"> 0</td>
		</tr>
		<tr class="ro3">
			<td style="text-align:center; width:1.016cm; vertical-align:middle " class="ce19">
				<p>Incentive</p></td>
			<td style="text-align:center; width:1.016cm; vertical-align:middle " class="ce19">{$incentive} </td>
			<td style="text-align:center; width:1.016cm; vertical-align:middle " class="ce19">{$incentive} </td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce27">
				<p>Advance</p></td>
			<td style="text-align:left;width:2.258cm; " class="ce20"> -</td>
			<td colspan="4" style="text-align:left;width:2.258cm; " class="ce29">
				<p>Availed Leaves In {$avaied_month}-{$avaied_year}</p></td>
		</tr>
		<tr class="ro1">
			<td rowspan="10" style="text-align:left;width:1.506cm; " class="ce8"> </td>
			<td rowspan="10" style="text-align:left;width:1.016cm; " class="ce21"> </td>
			<td rowspan="10" style="text-align:left;width:14.549cm; " class="ce21"> </td>
			<td colspan="2" rowspan="10" style="text-align:left;width:2.258cm; " class="ce21"> </td>
			<td rowspan="10" style="text-align:left;width:2.258cm; " class="ce21"> </td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce37">
				<p>Leaves types</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce45">
				<p>Leaves in {$leave_month}-{$leave_year}</p></td>
		</tr>
			<tr class="ro1">
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce38">
				<p>CL</p></td>
			<td colspan="2" style="width:2.258cm; " class="ce46">
				<small style="text-align:center;">{$cl}</small>
			 </td>
		</tr>
		<tr class="ro1">
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce38">
				<p>CCL</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce46">
			<small style="text-align:center;">{$ccl}</small>
			 </td>
		</tr>
		<tr class="ro1">
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce38">
				<p>LWP</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce46">
			<small style="text-align:center;">{$lwp}</small>
			 </td>
		</tr>
		<tr class="ro1">
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce38">
				<p>ABSENT</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce46"> 
				<small style="text-align:center;margin-right:10px">{$absent}</small>
			</td>
		</tr>

		<tr class="ro1">
		</tr>
		<tr class="ro1">
			<td colspan="2" style="text-align:left;width:2.258cm;vertical-align:top " class="ce39">
				<p>working day</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce47">
				<small style="text-align:center;">{$working_day}</small>  </td>
		</tr>
		<tr class="ro1">
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce10">
				<p>Weekly off</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce47">
			<small style="text-align:center;">{$weekly_off}</small>
			 </td>
		</tr>
		<tr class="ro1">
			<td colspan="2" style="text-align:left;width:2.258cm; vertical-align:top" class="ce10">
				<p>Total leaves</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce47">
				<small style="text-align:center;">{$total_leave}</small>  </td>
		</tr>
		<tr class="ro1">
			<td colspan="2" style="text-align:left;width:2.258cm;vertical-align:top " class="ce39">
				<p>Payable days</p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="ce47">
			<small style="text-align:center;">{$p_day}</p> </td>
		</tr>
		<tr class="ro1">
			<td style="text-align:center;width:1.506cm; vertical-align:middle " class="ce6">
				<p>Total</p></td>
			<td style="text-align:center; width:1.016cm;vertical-align:middle " class="ce22">
				<p>{$total} </p></td>
			<td style="text-align:center; width:14.549cm;vertical-align:middle " class="ce22">
				<p>{$total_payable_amount} </p></td>
			<td colspan="2" style="text-align:left;width:2.258cm; " class="">
				<p>Total Deductions</p></td>
			<td style="text-align:center; width:2.258cm;vertical-align:middle " class="ce22">
				<p>{$total_deduction} </p></td>
			<td colspan="4" style="text-align:left;width:2.258cm; " class="ce40"> </td>
		</tr>
		<tr class="ro1">
			<td colspan="5" style="text-align:left;width:1.506cm;text-transform: capitalize;  " class="ce9">
				<p>(Net Salary in Words :  {$amount_in_words}.)</p></td>
			<td style="text-align:center;width:2.258cm;vertical-align:middle " class="ce11">
				<p>Net Salary</p></td>
			<td colspan="4" style="text-align:right; width:2.258cm;vertical-align:middle " class="ce41">
				<p>{$net_salary} </p></td>
		</tr>
		<tr class="ro1">
			<td colspan="4" style="text-align:left;width:1.506cm; " class="ce11">
				<p>&nbsp;</p></td>
			<td colspan="6" style="text-align:left;width:2.258cm; " class="ce29">
				<p>&nbsp;</p></td>
		</tr>
		<tr class="ro1">
			<td colspan="4" style="text-align:left;width:1.506cm; height:100px " class="ce11">
				<p>Authorized Signatory  &amp; Seal</p></td>
			<td colspan="6" style="text-align:left;width:2.258cm; " class="ce29">
				<p>Date Of Generation :&nbsp;{$date_of_generate}</p></td>
		</tr>
	</table>
</html>