
<div id="{$_name}">
  <div class="atk-row atk-padding"></div>
  <div class="atk-row">
    <div class="atk-col-6">{$balancesheet_liablity}</div>
    <div class="atk-col-6">{$balancesheet_assets}</div>
  </div>
  <div class="atk-row atk-swatch-gray atk-padding-small">
    <div class="atk-col-6"><strong>Total </strong><strong><span class="pull-right">{$ltotal}		</span></strong></div>
    <div class="atk-col-6"><strong>Total </strong><strong><span class="pull-right">{$atotal}		</span></strong></div>
  </div>
</div>
<style>
  .atk-cells {
    display: table;
    width: 100%;
  }
  .atk-cells > .atk-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .atk-cells.atk-cells-justified {
    table-layout: fixed;
  }
  .atk-cells[class*=atk-move] {
    width: auto;
  }
</style>