div(id="{$_name}")
	.atk-row.atk-padding
	.atk-row
		.atk-col-6
			{$balancesheet_liablity}
		.atk-col-6
			{$balancesheet_assets}
	.atk-row.atk-swatch-gray.atk-padding-small
		.atk-col-6
			strong Total 
			strong
				span.pull-right {$ltotal}		
		.atk-col-6
			strong Total 
			strong
				span.pull-right {$atotal}		
style.
	.atk-cells {
	  display: table;
	  width: 100%;
	}
	.atk-cells > .atk-cell {
	  display: table-cell;
	  vertical-align: middle;
	}
	.atk-cells.atk-cells-justified {
	  table-layout: fixed;
	}
	.atk-cells[class*=atk-move] {
	  width: auto;
	}