.atk-row
	.atk-col-12
		{$grid}
//- .atk-row
//- 	.atk-col-12
//- 		table.atk-table.atk-table-zebra(style='width:100%;')
//- 			thead
//- 				th
//- 				th
//- 				th
//- 			tbody
//- 				tr
//- 					td(style="width:35%;")
//- 						strong Total
//- 					td(style="width:37%;")
//- 						{$dr_total}
//- 					td(style="width:27%;") 	
//- 						{$cr_total}	