
<div class="atk-row">
  <div class="atk-col-12">{$grid}</div>
</div>
<div class="atk-row">
  <div class="atk-col-12">
    <table style="width:100%;" class="atk-table atk-table-zebra">
      <thead>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td style="width:35%;"><strong>Total</strong></td>
          <td style="width:37%;">{$dr_total}</td>
          <td style="width:27%;">
            	
            {$cr_total}	
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>