.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        //- .row.atk-padding.atk-swatch-gray
        //-     .col-md-4
        //-         strong BalanceSheet Head : 
        //-         span {$head} 
        //-     .col-md-4
        //-         strong From Date : 
        //-         span {$from_date} 
        //-     .col-md-4
        //-         strong To Date : 
        //-         span {$to_date} 
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
    {/Pannel}
    .main-box-body.clearfix.table
        table.atk-table.atk-table-bordered(style="width:100%")
            {header}
            thead
                {cols}{col}
                th
                    span 
                th
                    span Amount DR  
                th
                    span Amount CR
                {/}{/}
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td
                      span.xepan-accounts-bs-subgroup(data-id="{$id}" style= "cursor:pointer; cursor: hand; max-width:600px;") {$name}
                    td
                      span {$ClosingBalanceDr}                          
                    td
                      span {$ClosingBalanceCr}                      	  
                    {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}
                    td 
                    td {$ClosingBalanceDr}
                    td {$ClosingBalanceCr}
                    {/}{/}
            {/}
        {$Paginator} 