<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{page_title}Agile Toolkit{/}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="templates/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="templates/css/epan.css">
		<link rel="stylesheet" href="templates/css/compact.css">
		{$js_include}
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="templates/css/ie8.css"/>
		<script type="text/javascript" src="templates/css/ie8.js"></script>
		<![endif]-->
		<script type="text/javascript">
			$(function(){
				edit_template={edit_template}false{/};
				{$document_ready}
			});
			$(document).on('focusin', function(event) {
				if ($(event.target).closest(".mce-window").length) {
					event.stopImmediatePropagation();
				}
			});
		</script>
	</head>
	<body style='{$style}' class='{$class} ' component_type='Body '>

	<div style="margin:0 auto 10px auto;" class="atk-align-center banner">
      <img id="xbank2_layout_fluid_view_2_menu_objective_menu_base_view" class="" style="width:150px;margin-bottom: 10px;" src="templates/images/logo.jpg">
      <!-- <b style="width:20px;font-size:30px;padding:20px;"> Bhawani Credit Co-operative Society Ltd.</b> -->
      {$BankBanner}
    </div>
    
		<div id='epan-content-wrapper' class='epan-sortable-component ' component_type='Web Page'>
			{$Layout}
			{$Content}
		</div>
		<div class='epan-editor-shared-div'>
			{$editor}
		</div>
		<div id="atk-growl-holder" class="atk-growl"></div>
	</body>
	<style type="text/css">
		{$extra_css}
		{$template_css}
	</style>
	<script src="templates/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
			$.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality
			$.support.transition = (function(){
				var thisBody = document.body || document.documentElement,
				thisStyle = thisBody.style,
				support = thisStyle.transition !== undefined || thisStyle.WebkitTransition !== undefined || thisStyle.MozTransition !== undefined || thisStyle.MsTransition !== undefined || thisStyle.OTransition !== undefined;
				return support;
			})();
	</script>
</html>